<div class = "question-container" *ngFor = "let question of presentQuestions">
    <div [hidden] = "shouldShow(question.id)">
        <h3 [innerHTML]="question.question"></h3>
        <div class="buttons">
            <div class = "button-container" *ngFor = "let answer of question.answers">
                <button type="button" [value]="answer" (click)="submitAnswer($event)" [innerHTML]="answer" [ngClass]="{'btn': true, 
                'btn-correct': questionAnswered && answer === this.questions[question.id].correct_answer, 
                'btn-incorrect': questionAnswered && answer !== this.questions[question.id].correct_answer}"></button>
            </div>
        </div>
        <button [disabled]="!questionAnswered" (click)="next()" class="next">{{ question.id !== presentQuestions.length - 1 ? 'Next ›' : 'Finish Quiz ››' }}</button>
    </div>
</div>
