<div class = "question-container" *ngFor = "let question of presentQuestions">
    <div [hidden] = "shouldShow(question.id)">
        <h3 [innerHTML]="question.question"></h3>
        <div class="buttons">
            <div class = "button-container" *ngFor = "let answer of question.answers">
                <button type="button" [value]="answer" (click)="submitAnswer($event)" class ="btn" [innerHTML]="answer"></button>
            </div>
        </div>
        <button [disabled]="!questionAnswered" (click)="next()" class="next">{{ question.id !== presentQuestions.length - 1 ? 'Next ›' : 'Finish Quiz ›' }}</button>
    </div>
</div>
