.quiz-form-container {
    width: 50%;
    margin: 0 auto;
}

.new-quiz-container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
}
