.new-quiz-container {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.bad-input {
    color: red;
    font-size: 12px;
    margin-bottom: 1rem;
}
