<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()" #quizForm="ngForm"> <!-- TODO! INPUT VALIDATION ON NUMBER (MUST BE BETWEEN 1 AND 50)-->
    <div class="form-group">
      <label for="categories">Select Category</label>
      <input type="number"
        min="1"
        class="form-control"
        id="nbrQuestions"
        required
        [(ngModel)]="model.nbrQuestions" name="nbrQuestions"
      >
    </div>

    <div class="form-group">
      <label for="categories">Select Category</label>
      <select class="form-control"
        id="category"
        required
        [(ngModel)]="model.category" name="category"
      >
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="difficulties">Select Difficulty</label>
      <select class="form-control"
        id="difficulty"
        required
        [(ngModel)]="model.difficulty" name="difficulty"
      >
        <option *ngFor="let diff of difficulties" [value]="diff">{{diff}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="types">Select Type</label>
      <select class="form-control"
        id="type"
        required
        [(ngModel)]="model.type" name="type"
      >
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h1>You created a quiz!</h1>
  <h3>These are your settings:</h3>
  <p>Number of questions: {{model.nbrQuestions}}</p>
  <p>Category: {{model.category}}</p>
  <p>Difficulty: {{model.difficulty}}</p>
  <p>Type: {{model.type}}</p>

  

  <label class="btn btn-primary"> <!-- TODO ROUTING TO QUIZ-->
    Start quiz
  </label>
</div>
