@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.title {
    margin-left: 15px;
    font-family: 'Fredoka One', cursive;
    font-size: 36px;
}

.main {
    padding: 1em;
    margin: 0 auto;
    max-width: 60em;
}

.spacer {
    flex: 1;
}

.navbar {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.navbar-bg {
    height: 64px;
    background-color: #1976d2;
    color: white;
}

.navbar-link {
    color: white;
}

.flex-container {
    display: flex;
}

.flex-item {
    padding-left: 1em;
}

/*
.links {
    margin: 0 auto;
}

.links > :first-child {
    margin-right: 15px; 
}
*/